altgraph==0.17.4
asgiref==3.8.1
beautifulsoup4==4.13.3
bootstrap4==0.1.0
certifi==2024.12.14
charset-normalizer==3.4.1
distlib==0.3.9
dj-database-url==2.3.0
Django==5.1.5
django-bootstrap4==25.1
django-heroku==0.3.1
docutils==0.21.2
filelock==3.17.0
filetype==1.2.0
gunicorn==23.0.0
idna==3.10
numpy==2.2.1
packaging==24.2
pefile==2023.2.7
platformdirs==4.3.6
psycopg2==2.9.10
Pygments==2.18.0
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyperclip==1.9.0
pypiwin32==223
pywin32==308
pywin32-ctypes==0.2.3
requests==2.32.3
setuptools==75.6.0
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
virtualenv==20.29.1
whitenoise==6.9.0
